* {
    margin: 0;
    padding: 0;
}

body {
    /* min-width: 325px; */
}

a {
    transition: 0.2s ease-in-out;
}

:root {
    --red: #e72d2d;
    --dark-red: #c32c2c;
}

header {
    background: black;
}

.cord {
    padding: 5px 15px;
    color: white;
}

.s-link {
    display: inline-block;
    color: black;
    background: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

.navbar-toggler-icon {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
    color: white !important;
}

header span {
    color: white;
    font-size: 13px;
}

.s-link:hover {
    color: var(--red);
}

.phone-l a {
    color: white;
}

nav {
    background: var(--red);
}

.dropdown-menu {
    background: var(--red);
    border: 0;
    border-radius: 0;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-item:hover {
    background: 0;
    color: white;
}

.slider {
    height: 500px;
    background: #ccc;
}

.slider .slick-next {
    position: absolute;
    right: 15px;
    z-index: 10;
}

.slider .slick-prev {
    position: absolute;
    left: 15px;
    z-index: 10;
}

.slider .slick-next::before,
.slider .slick-prev::before {
    color: var(--red);
}

.slide-e {
    height: 500px;
    background: #ccc;
    background-size: cover;
    background-position-y: center;
}

.inner-slide-e {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 30px;
    color: white;
}

.slide-e .inner-slide-e h1 {
    width: 100%;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
}

.inner-slide-e span {
    width: 100%;
}

.inner-slide-e h5 {
    font-weight: 200;
    font-size: 20px;
}

.btn {
    border-radius: 0;
}

.ybtn {
    font-weight: 200;
    background: var(--red);
    color: white;
}

.c-btn {
    display: block;
    margin: auto;
}

.ybtn i {
    font-size: 12px;
}

.ybtn:hover,
.ybtn:active {
    color: #CCC;
    background: var(--dark-red);
}

.slick-dots {
    position: absolute;
    bottom: auto;
    background: linear-gradient(to right, var(--dark-red), var(--red));
    padding-bottom: 5px;
}

.slick-dots li button::before {
    font-size: 10px;
}

.about {
    padding: 15px;
}

.main-title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.t-sep {
    height: 5px;
    width: 100px;
    margin: auto;
    background: linear-gradient(to right, var(--dark-red), var(--red));
    margin-bottom: 15px;
}

.about p {
    width: 100%;
    margin: 0px auto 15px auto;
    max-width: 500px;
    font-size: 18px;
    font-weight: 300;
    display: block;
    text-align: center;
}

.news-cnt {
    background: #eee;
    padding: 20px 15px;
}

.news {}

.art-cnt {
    padding: 5px;
}

.news article {
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 5px #ccc;
    height: 300px;
}

.det-cnt {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 262px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.3));
    padding: 15px;
    color: white;
}

.det-cnt h2 {
    text-transform: uppercase;
    overflow: hidden;
    font-weight: 500;
    font-size: 25px;
    width: 100%;
    text-align: center;
    line-height: 35px;
}

.det-cnt p {
    color: #555;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    margin-bottom: 0;
}

.stats {
    padding: 30px 15px;
    color: rgb(160, 160, 160);
}

.s-stat {
    text-align: center;
}

.st-icon {
    font-size: 70px;
}

.st-text {
    font-size: 18px;
}

footer {
    background: black;
    color: white;
}

.links h5 {
    text-transform: uppercase;
}

.links ul {
    list-style-type: none;
}

.links ul li a {
    text-decoration: none;
    color: #CCC;
    font-size: 14px;
}

.links ul li {
    display: flex;
    font-size: 14px;
    word-wrap: break-word;
    margin: 5px 0px;
    color: #CCC;
}

.links ul li i {
    display: block;
    width: 20px !important;
    text-align: center;
    margin-right: 7px;
    line-height: 20px;
    flex-basis: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

.links ul li a:hover {
    text-decoration: underline;
    color: #FFF;
}

.copyrights {
    font-size: 12px;
    background: rgb(29, 29, 29);
    padding: 5px 0px;
}

.partners {
    margin-top: 20px;
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.partners .part-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.part-slide img {
    height: 90%;
}

.partners .slick-next::before,
.partners .slick-prev::before {
    color: var(--red);
}


/* SINGLE PAGE STYLE */

.outer-header {
    height: 200px;
    background-size: cover;
}

.inner-header {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.inner-header h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}

.logo-cnt {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--red), rgba(0, 0, 0, 0));
    padding: 15px;
}

.logo-cnt img {
    width: 60%;
    max-width: 150px;
}

.info-cnt h4 {
    color: rgb(39, 39, 39);
    font-weight: normal;
    font-size: 22px;
}

.info-cnt h5 {
    color: #555;
    font-weight: normal;
}

.info-cnt p {
    display: flex;
    color: #555;
    font-weight: normal;
}

.info-cnt i {
    margin-right: 10px;
    line-height: 25px;
    color: var(--red);
}

.fs-links {
    display: flex;
    justify-content: center;
}

.fs-link {
    margin: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: white;
    border-radius: 50%;
    color: black;
    font-size: 20px;
}

.fs-link:hover,
.fs-link:focus {
    transform: scale(1.2);
    color: var(--red);
}

.sr-img {
    overflow: hidden;
    padding: 0px 15px;
}

.sr-img img {
    width: 100%;
}

.sr-det {
    padding: 15px 15px 20px 15px;
    display: flex;
    align-items: center;
}

.sr-det h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
}

.st-sep {
    height: 3px;
    background: linear-gradient(to right, var(--red), var(--dark-red));
    width: 50%;
    margin: auto;
}

.sr-det ul {
    list-style-type: none;
    font-size: 20px;
}

.sr-det ul li {
    display: flex;
    /* align-items: center; */
    line-height: 25px;
    margin-bottom: 15px;
    color: #555;
    font-weight: small;
}

.sr-det ul li i {
    margin-right: 10px;
    color: var(--dark-red);
    line-height: 25px;
}

.map {
    height: 400px;
    width: 100%;
}

#mapid {
    border: 1px solid #CCC;
    box-shadow: 0px 0px 5px #CCC;
}


/* Contact Page Style */

.coord {}

.coord ul {
    list-style-type: none;
}

.coord ul li {
    color: rgb(70, 70, 70);
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

.coord ul li i {
    display: inline-block;
    width: 30px;
    min-width: 30px;
    text-align: center;
    line-height: 28px;
    color: var(--dark-red);
}

.coord h4,
.contact-form h4 {
    text-transform: uppercase;
    font-size: 18px;
}

.contact-form form {
    width: 100%;
}

.contact-form .input-el {
    width: 100%;
    display: flex;
    line-height: 30px;
    border-bottom: 1px solid var(--dark-red);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.input-el label {
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--dark-red);
    margin: 0;
}

.input-el input {
    height: 30px;
    width: 100%;
    border: 0;
    outline: 0;
}

.input-el input::placeholder,
.input-el textarea::placeholder {
    color: rgb(180, 180, 180);
}

.input-el textarea {
    width: 100%;
    min-width: 100%;
    min-height: 150px;
    border: 0;
    outline: 0;
    resize: none;
}